
#input-area {
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	background-color: #e0e0e0;
	padding: 4px 0 4px 0;
	width: 100%;
	height: 90;
	z-index: 5;
}

.uc-odd{
	background-color: #efefef
}

.username {
    font-weight: bold;
    margin-left: 6px;
    margin-right: 4px;
    vertical-align: top;
}

.highlight {
    background-color: rgb(222, 246, 234);
}

.timestamp {
    color: gray;
    vertical-align: top;
}

#main {
	width:89%;
	position:relative;
	z-index:1;
}

#chat {
	padding-bottom: 100px;
	background: transparent;
	position: relative;
}

#sidebar {
    position: fixed;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 10%;
    height: 100%;
    padding: 45px 10px 0px 0px;
    background: transparent;
    color: #222222;
}
