<html>
<head>
   <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/> -->
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/journal/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css"> -->
   <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css"> -->
   <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <h2>MockingJay</h2>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">MockingJay</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div id="main">
      <div id="chat" style="display: block;">
      </div>

      <div id="input-area">
        <div><span id="username">{{username}}</span><input type="text" id="message"/><input id="send" type="submit" value='Send'/></div>
      </div>
    </div>

  <script type='application/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type='application/javascript'>
    var username = '{{username}}';
    $(document).ready(function() {
      var unreadCount = 0;

      websocket = '{{scheme}}://' + location.hostname + ':{{port}}/ws';
      if (window.WebSocket) {
        ws = new WebSocket(websocket);
      }
      else if (window.MozWebSocket) {
        ws = MozWebSocket(websocket);
      }
      else {
        console.log('WebSocket Not Supported');
        return;
      }

      window.onbeforeunload = function(e) {
        $('#chat').val($('#chat').val() + 'Bye bye...\\n');
        ws.close(1000, username + ' left the room');

        if(!e) e = window.event;
        e.stopPropagation();
        e.preventDefault();
      };
      ws.onmessage = function (evt) {
        var $chatWindow = $('#chat');
        $chatWindow.append("<div class='user-container'>" + evt.data + "</div>");
        $(window).scrollTop($(window).height());
      };
      ws.onopen = function() {
         ws.send(username + " entered the room");
      };
      ws.onclose = function(evt) {
         $('#chat').val($('#chat').val() + 'Connection closed by server: ' + evt.code + ' \"' + evt.reason + '\"\\n');
      };

      function sendMessage() {
         ws.send(username + ': ' + $('#message').val());
         $('#message').val("");
         return false;
      }

      $('#send').click(function() {
        return sendMessage();
      });

      $('#message').keypress(function(e) {
        console.log("came here");
        if (e.which == 13) {
          return sendMessage();
        }
      });
    });
   </script>
</body>
</html>
